@keyframes pulse {
	0% {
		color: indigo;
	}
	45% {
		color: cyan;
		font-weight: 2000;
	}
	100% {
		color: indigo;
	}
}

#root {
	display: flex;
	width: 100vw;
	background: black;
	p {
		text-align: center;
		font-size: 1rem;
		color: white;
		animation: pulse 5s infinite;
	}
}

::-webkit-scrollbar {
	height: 5px;
	width: 5px;
	background: rgba($color: grey, $alpha: 0.7);
}

::-webkit-scrollbar-thumb {
	background: white;
	border: 1px solid black;
	border-radius: 10px;
}
