@use "./../utilities/gsm.scss";

.fill-4 {
	height: 400px;
}

.bg-color-black {
	background: black;
}

.bg-color-white {
	background: white;
}

.bg-color-red {
	background: red;
}

.bg-color-blue {
	background: blue;
}

.bg-color-green {
	background: green;
}
.bg-translucent {
	opacity: 0.7;
}

.bg-very-translucent {
	opacity: 0.4;
}

.bg-transparent {
	background-color: rgba($color: white, $alpha: 0);
}

.bg-grad-black {
	@include gsm.horizontal-gradient(black);
	@include gsm.md {
		@include gsm.vertical-gradient(black);
	}
}

.bg-horz-grad-black {
	@include gsm.horizontal-gradient(black);
}

.bg-grad-grey {
	@include gsm.vertical-gradient(slategrey);
}

.bg-horz-grad-grey {
	@include gsm.horizontal-gradient(slategrey);
}

.bg-overlay-white {
	position: relative;
}

.bg-overlay-white {
	content: "";
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($color: white, $alpha: 0.5);
}

.bg-gradient-black {
	@include gsm.md {
		background: linear-gradient(
			274deg,
			rgba(0, 0, 0, 1) 30%,
			rgba(253, 187, 45, 0) 100%
		);
	}
}
