.menu-container {
	.expandable-text-title {
		border: rgba($color: #000000, $alpha: 0.3) 0.5px solid;
	}
	.expandable-text-title:hover {
		opacity: 0.5;
	}
	.expandable-menu {
		background: white;
		border: rgba($color: #000000, $alpha: 0.7) 0.5px solid;
	}
}
